<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Велосипедная соц сеть</title>
  <link rel="stylesheet" href="static/css/style.css" type = "text/css">
</head>
<div class="hero" id="top">
  <div class="hero-image"></div>
  <h1>Велосипедная соц.сеть</h1>
</div>
<div class="navbar-wrapper">
  <nav>
    <div class="content">
      <ul>
        <li class="action-item"><a href="/">
            <p>Home</p>
          </a></li>
        <li><a href="/dashboard">
            <p>My Dashboard</p>
          </a></li>

      </ul>
      <ul class="right">
        <li><a href="/login">
            <p>Log in</p>
          </a></li>
        <li class="action-item"><a href="/signup">
            <p>Sign up</p>
          </a></li>
      </ul>
    </div>
  </nav>
</div>

{{{body}}}

<footer>
  <p><a>built with ❤ in SPb</a></p>
</footer>
</body>

</html>
